<h1>Tasks</h1>
<!-- TODO:  
* integrate a user plugin 
* do AJAX with prototype
-->
Add a task: 
<% form_for(@task) do |t| %>
  <%= t.error_messages %>

  <p>
    <%= t.label :name %>:
    <%= t.text_field :name %>
    <%= t.submit "add" %>
<% end %>
<p> <hr>
<% @tasks.each do |t| %>
  <%= t.name %>
  <%= link_to 'edit', edit_task_path(t) %>
  <hr>
<% end %>
